@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

*,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* fonts */
/* media */
/* spacers */
body {
  margin: 0;
}

.my-template {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hmpg-bg {
  background-color: #e2e2e2;
}

main {
  width: min(90%, 1400px);
  margin-inline: auto;
  margin-bottom: 5em;
}

.spacer {
  margin: 1.5em;
}

.footer {
  flex: 0 0 60px;
}

/* odkaz přeskočit na hlavní obsah */
div {
  height: 50px;
  background: #E84C3D;
}

.skip-to-content-link {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
}

.skip-to-content-link {
  background: #eb9b80;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

body {
  font-family: "Montserrat", "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(1.5rem + 0.2vw);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

p::-moz-selection {
  background-color: yellow;
  color: rgb(115, 49, 2);
}

p::selection {
  background-color: yellow;
  color: rgb(115, 49, 2);
}

a {
  color: #0c5880;
}

a[target=_blank] {
  background-image: url(/images/icons/external-icon.png);
  background-size: 0.75em;
  display: inline-block;
  padding-right: 1.2em;
  background-position: right center;
  background-repeat: no-repeat;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

h1,
.section__header {
  font-family: "Nunito", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #0c5880;
  line-height: 3rem;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
}
@media screen and (min-width: 1100px) {
  h1 {
    font-size: 2.5rem;
  }
}
h1:after {
  content: "";
  display: block;
  height: 0.1em;
  width: 5rem;
  margin-top: 10px;
  background: #eb9b80;
}

h2,
h3 {
  font-family: "Nunito", "Roboto", sans-serif;
  font-weight: 400;
  color: #0c5880;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

h2 {
  font-size: 1.7rem;
}
@media screen and (min-width: 1100px) {
  h2 {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 1.5rem;
  color: #c3432f;
}
@media screen and (min-width: 1100px) {
  h3 {
    font-size: 1.8rem;
  }
}

blockquote {
  font-family: "Nunito", "Roboto", sans-serif;
  font-size: 1.2em;
  font-style: italic;
}

.blockquote {
  border-left: 4px solid #0c5880;
  padding: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.keyb {
  display: inline-block;
  font-size: 0.8em;
  /*line-height: 1.4em;*/
  color: #36395A;
  padding: 0 8px;
  margin: 0 5px;
  border-radius: 2px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(208, 208, 208, 0.22) 0px 1px 20px 0px, #cbcbcb 0 -3px 0 inset;
}

.kod {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  display: inline-block;
  padding: 0 5px;
  background-color: #4e4e4e;
  color: #eeeeee;
}

.tips {
  background-color: #ffeeee;
  margin: 1rem auto;
  line-height: 3rem;
}

.accessbl-icon {
  height: 1.5rem;
  display: inline-block;
  margin-bottom: -5px;
}

.header {
  background-color: #0c5880;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 3;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column;*/
  max-width: 1400px;
  min-height: 60px;
  margin-inline: auto;
  padding: 15px 15px 0;
}
@media screen and (min-width: 800px) {
  .header__content {
    flex-direction: row;
    align-items: flex-end;
  }
}

/* velikost obrázku - loga */
.logo {
  width: 160px;
  height: auto;
}
.logo img {
  width: 100%;
}

.hero {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e2e2e2;
}
.hero__content {
  max-width: 1400px;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .hero__content {
    flex-direction: row;
  }
}
.hero__img {
  flex: 1 1 40%;
}
.hero__img img {
  width: 100%;
  max-width: 400px;
}
.hero__text {
  text-align: center;
}
@media screen and (min-width: 800px) {
  .hero__text {
    flex: 1 1 60%;
    text-align: right;
    padding-right: 5em;
  }
}
.hero .text-bigger {
  font-size: clamp(24px, 3vw, 36px);
  line-height: 2rem;
}
.hero .text-big {
  font-size: 32px;
}

.crossed {
  text-decoration: line-through;
}

.text-bg {
  font-weight: 700;
  display: inline-block;
  padding: 0 15px 10px 5px;
  background-color: #eb9b80;
}

.footer {
  background-color: #e2e2e2;
}
.footer__content {
  color: #0c5880;
  max-width: 1400px;
  margin: auto;
}
.footer__copy {
  background-color: #0c5880;
  color: #f0f5f9;
}
.footer__copy p {
  padding: 10px;
  text-align: center;
  font-size: 0.75em;
}

.main {
  padding-top: 60px;
}

.w-80 {
  max-width: 80%;
  margin-inline: auto;
}

.section {
  max-width: 1000px;
  margin: 3rem auto;
}
.section p {
  padding-top: 10px;
}
.section__item {
  padding: 1rem;
  margin: 3rem auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.section__header {
  text-align: center;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.grid__item {
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.flag {
  width: 100%;
  max-width: 150px;
}

.full-grid {
  grid-column: 1/-1;
}

.container-grid a[target=_blank] {
  background-image: none;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-card {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .flex-card {
    flex-direction: row;
  }
}

/* nastavení článku s obrázkem */
.article,
section {
  margin-top: 3em;
  margin-bottom: 3em;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article .article-media:has(img) {
  width: clamp(250px, 30%, 300px);
}

.article .article-media img {
  width: 100%;
}

.article .article-media:has(video) {
  aspect-ratio: 16/9;
  flex-direction: column;
}

.article-media img,
.article-media video {
  width: 100%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .article {
    display: flex;
    align-items: center;
  }
  .flex--right {
    flex-direction: row-reverse;
  }
  .article-text {
    flex: 1;
    padding-left: 2em;
    max-width: 80ch;
  }
}
.main-nav {
  display: none;
}
@media screen and (min-width: 800px) {
  .main-nav {
    display: flex;
    align-self: center;
  }
}
.main-nav .menu {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-nav .menu__item {
  border-bottom: 3px solid transparent;
  display: block;
  padding: 0 10px;
}
.main-nav .menu__item:hover, .main-nav .menu__item--active {
  border-bottom: 3px solid #f0f5f9;
  color: #f0f5f9;
  transition: all 0.5s;
}
.main-nav .menu__item a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.2em;
}
.main-nav .menu__item a:focus {
  transition: all 0.5s;
  outline-offset: 4px;
}
.main-nav .menu__item__list {
  list-style: none;
  margin: 0.75em 0;
}

.secondary-menu {
  padding-left: 40px;
  list-style: disc;
  display: flex;
  flex-direction: column;
}
.secondary-menu a {
  color: #f0f5f9;
  text-decoration: none;
}
.secondary-menu a:hover {
  background-color: white;
  color: #00436f;
}

@media screen and (min-width: 800px) {
  .hamburger-container {
    display: none;
  }
}

.hamburger-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  /*   position: absolute;*/
  top: 10px;
  left: 10px;
  color: rgb(254, 254, 254);
  transition: transform 0.5s ease;
}

/* We don't need the checkbox to be visible, but we can't set it to display: none because this will break keyboard navigation. Instead set the opacity to 0 and the position to absolute so it doesn't push the rest of the content down */
.hamburger-container .checkbox {
  opacity: 0;
  position: absolute;
}

/* Show an outline when the hamburger is selected using the keyboard. Older browsers don't support :focus-visible, so we will just use :focus here. */
.hamburger-container .checkbox:focus ~ .hamburger {
  /* Not all browsers support outline: auto, so set a sensible fallback outline. */
  outline: 2px solid white;
  outline: auto;
  outline-offset: 4px;
}

/* For newer browsers that do support :focus-visible, hide the outline when the checkbox isn't selected with the keyboard. */
@supports selector(:focus-visible) {
  .hamburger-container .checkbox:not(:focus-visible) ~ .hamburger {
    outline: none;
  }
}
/* Hide any focusable elements in the drawer by default to aid keyboard navigation. We use visibility so it makes the elements unfocusable, but doesn't affect the layout. We can also add a "transition" to visibility, which will make it show instantly when we open the drawer, but take half a second to hide it when we close the drawer. */
.hamburger-container .drawer a {
  visibility: hidden;
  transition: visibility 0.5s linear;
}

/* Make the focusable elements in the drawer visible when it is open. */
.hamburger-container .checkbox:checked ~ .drawer a {
  visibility: visible;
  color: #f1f1f1;
}
.hamburger-container .checkbox:checked ~ .drawer a:hover {
  text-decoration: underline;
}

.hamburger-container .checkbox:checked ~ .drawer {
  transform: translateX(0%);
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(2) {
  opacity: 0;
}

.hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.hamburger {
  width: 32px;
  /*height: 32px;*/
  position: relative;
  display: block;
  transition: transform 0.5s ease;
  z-index: 1;
  cursor: pointer;
}

.hamburger .slice {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.hamburger .slice:not(:first-child) {
  margin-top: 10px;
}

.drawer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding: 22px;
  background: #0c5880;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.drawer .nav-list {
  padding: 0;
  list-style: none;
  margin-top: 30px;
  margin-left: 20px;
}

.drawer .nav-list .nav-list-item {
  padding-bottom: 10px;
}

.drawer {
  width: 100%;
}

.success__btn {
  background-color: #0c5880;
  color: rgb(174, 194, 22);
  padding: 20px;
}

.link-btn {
  display: inline-block;
  padding: 0.5em 2em;
  border-radius: 50px;
  transition: all 0.3s;
  margin: 2rem 0;
}

.btn-brand-color {
  background-color: #0c5880;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.2em;
}
.btn-brand-color:hover, .btn-brand-color:focus {
  background-color: #A1C5D7;
  color: #172027;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  outline: 3px dotted #ff794d;
}

.box {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}
@media screen and (min-width: 800px) {
  .box {
    padding: 15px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
}
@media screen and (min-width: 1100px) {
  .cards {
    justify-content: space-between;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 15px 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: transform 0.3s;
  text-align: center;
  background-color: #f2f2f2;
}
.card a {
  color: inherit;
  text-decoration: none;
}
.card:hover {
  background-color: #eb9b80;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: translateY(-4px);
}
.card:hover h3 {
  color: #0c5880;
}
.card img {
  margin: 0 30px;
}
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    text-align: left;
  }
}
@media screen and (min-width: 1100px) {
  .card {
    width: 32%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
}
.card__title {
  margin: 10px 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .card__title {
    font-size: 2.5rem;
  }
}

.contact-card {
  border: 1px solid rgb(238, 238, 238);
}
@media screen and (min-width: 1100px) {
  .contact-card {
    width: 49%;
  }
}
.contact-card img {
  max-width: 150px;
  margin: 20px;
}
.contact-card:hover {
  background-color: #f5f5f5;
}

.player {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.rwd-object {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.rwd-object-in {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* dočasné styly a pokusy*/
/*
.header__content{
    background-color: rgb(203, 161, 241);
}
*/
.d-flex {
  display: flex;
}
.d-flex .img-left {
  width: 25%;
}
.d-flex img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */