@use '../base/variables';
@use '../utility/colors';

/* dočasné styly a pokusy*/
/*
.header__content{
    background-color: rgb(203, 161, 241);
}
*/

.d-flex{
    display: flex;
    & .img-left{
        width: 25%;
        
    }

    & img{
        width: 100%;
    }
}



