/* dočasné styly a pokusy*/

header{
    background-color: rgb(203, 161, 241);
}

main{
    background-color: aquamarine;
}

aside{
    background-color: blue;
}

footer{
    background-color: blueviolet;
}

.header__container {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.logo{
    width: 250px;
    height: auto;
    margin: 20px;
}
.logo img{
    width: 100%;
}
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.menu a {
	display: block;
	padding: 5px 15px;
	color: rgb(0, 69, 154);
	text-decoration: none;
}

.menu a:hover {
	background-color: white;
	color: #00436f;
}

p::selection{
	background-color: yellow;
	color: rgb(115, 49, 2);
}
/* konec dočasné styly */
