/* dočasné styly a pokusy*/

header{
    background-color: rgb(203, 161, 241);
}

.main{
    background-color: aquamarine;
}

aside{
    background-color: blue;
}

footer{
    background-color: rgb(170, 157, 181);
}




p::selection{
	background-color: yellow;
	color: rgb(115, 49, 2);
}
/* konec dočasné styly */
