// colors
$btn-color: green;
$active-button-color: #8b2616;
$bg-color: #f0f0f0;
$bg-dark-color: #303339;



$primary-color: #0c5880;
$secondary-color: #1a7faa;
$text-color: #172027;
$bg-light: #f0f5f9;
$danger: #8b2616;
$warning: #b94614;
$lightbluegray: #b1cce0;
$bluegray: #8ab1cc;
