@use '../base/variables';

p, a{
    font-family: variables.$font-family-body;
    font-weight: variables.$font-weight-normal;
    font-size: variables.$font-size-default;
    line-height: variables.$line-height-default;

}

p::selection{
    background-color: yellow;
    color: rgb(115, 49, 2);
}



