@use '../base/variables';
@use '../utility/colors';

body{
    font-family: variables.$font-family-body;
    font-weight: variables.$font-weight-normal;
    font-size: variables.$font-size-default;
    line-height: variables.$line-height-default;
}
.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}


p{
    margin-top: 1em;
}

p::selection{
    background-color: yellow;
    color: rgb(115, 49, 2);
}

a{
    color: colors.$primary-color;
}

a[target="_blank"] {
    background-image: url(/images/icons/external-icon.png);
    background-size: 0.75em;
    display: inline-block;
    padding-right: 1.2em;
    background-position: right center;
    background-repeat: no-repeat;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}
h1,
.section__header{
    font-family: variables.$font-family-headings;
    font-weight: variables.$font-weight-headings;
    font-size: 3rem;
    color: colors.$primary-color;
    line-height: 3rem;

}

h1{
    margin-top: 2rem;
    font-size: 2rem;

    @media screen and (min-width: variables.$min-xl-media) {
        font-size: 2.5rem;
        
    }


    &:after{
        content: '';
        display: block;
        height: 0.1em;
        width: 5rem;
        margin-top: 10px;
        background: colors.$accent;
    }

}

h2,
h3{
    font-family: variables.$font-family-headings;
    font-weight: variables.$font-weight-headings;
    color: colors.$primary-color;
    margin-bottom: 1.25rem;
    margin-top: 2rem;

}

h2{
    font-size: 1.7rem;

    @media screen and (min-width: variables.$min-xl-media) {
        font-size: 2.2rem;
        
    }
}
h3{
    font-size: 1.5rem;
    color: colors.$secondary-color;

    @media screen and (min-width: variables.$min-xl-media) {
        font-size: 1.8rem;
        
    }
}

blockquote{
    font-family: variables.$font-blockquote;
    font-size: 1.2em;
    font-style: italic;
}

.blockquote{
    border-left: 4px solid colors.$primary-color;
    padding: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.keyb {
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #36395A;
    padding: 0 8px;
    margin: 0 5px;
    border: 1px solid #d8d8d8;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;}
  

.kod{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    display: inline-block;
    padding: 0 5px;
    background-color: #4e4e4e;
    color: #eeeeee;
}

.tips{
    background-color: #ffeeee;
    padding: 1rem;
    margin: 1rem auto;
    line-height: 3rem;

}