<h3>
    boční panel 01 - Tipy pro klávesnici
</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam provident, ipsum alias ab cumque sit sint vitae ut
    dignissimos totam velit ex tempore voluptate quas natus labore, doloremque cupiditate quaerat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta id tempore natus, dolorum ratione. Tempore repellat veritatis ea fugiat tempora quasi et fuga, quia similique iste sequi, odit repudiandae!
<button class="success__btn">
    úspěch
</button></aside>