<footer
    class="footer">
    <!-- ↓ koder ↓ -->
    <div class="footer__content">
    {% include 'partials/koder.njk' %}
    </div>
    <!-- ↑ koder ↑ -->
    <div class="footer__content"></div>
    <div class="footer__copy">
        <p>BezMyši | vytvořeno pro Závěrečný projekt kurzu KODÉRKA | 2022 | Jana Smolná | info@nasajana.cz</p>
    </div>
</footer>