<footer class="footer">
    <div class="footer__content">
        <nav class="secondary-nav">
            <ul class="menu secondary-menu">
                {% include 'partials/nav.njk' %}
            </ul>
        </nav>
        <div class="vymyslim">
            <p>patička informace</p>
            <p>patička informace</p>
            <p>patička informace</p>
        </div>
        <div class="vymyslim">
            <p>další informace?</p>
            <p>patička informace</p>
        </div>
    </div>
</footer>