        <footer class="footer">
            <div class="footer__content">
                <div class="article w-80">
                    <div class="article-media">
                        <img src="/images/persons/pers-koder.png" alt="Hustý kodér">
                    </div>
                    <div class="article-text">

                        <h2>Hustý kodér</h2>

                        <div>
                            <p>Jsem hustý kodér, fušuji i do dizajnu. Vždy, když dělám web, tak si nejdřív uklidím a vše
                                vynuluji. Takový ty hnusný rámečky, co mi kazí vzhled, to nemám rád. Naštěstí to jde
                                vypnout, když udělám outline:0. </p> <p>Umím parádní JavaScript a na mých webech to žije. Jak
                                dnes frčí ty slajdery a paralaxy, no to je peckaaaa. Jo a tlačítka, ty já umím vytvořit z jakéhokoli divu.
                                Mám na YouTubu oblíbený kanál, kde jeden maník dává videa, třeba hustý zaškrtávátka a&nbsp;megahustý hamburger
                                menu.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy center">
                <p>BezMyši | vytvořeno pro Závěrečný projekt kurzu KODÉRKA | 2022 | Jana Smolná | info@nasajana.cz</p>

            </div>
        </footer>