<footer class="footer">
    <div
        class="footer__content">
        <!-- blbost - teď neřeším {% include 'partials/secondary-nav.njk' %} <div class="vymyslim">
             <p>patička informace</p>
             <p>patička informace</p>
             <p>patička informace</p>
        </div> 
        <div class="vymyslim">
            <p>zdroj obrázků: https://www.pngwing.com, https://unsplash.com</p>
        </div>-->
    </div>
    <div class="footer__copy">
        <p>BezMyši | vytvořeno pro Závěrečný projekt kurzu KODÉRKA | 2022 | Jana Smolná | info@nasajana.cz</p>
     
    </div>
</footer>