<footer class="footer">
    <div class="footer__content"></div>
    <div class="footer__copy center">
        <p>BezMyši | vytvořeno pro Závěrečný projekt kurzu KODÉRKA | 2022 | Jana Smolná | info@nasajana.cz</p>
    </div>
</footer>