<div class="hamburger-container">
    <input class="checkbox" type="checkbox" id="hamburger-toggle" aria-label="Menu"/>
    <label class="hamburger" for="hamburger-toggle">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
    </label>
    <div class="drawer">
        <ul class="nav-list">
             {% include 'partials/nav-list.njk' %}
        </ul>
    </div>
</div>