<header class="header">
    <div class="header__content">
        {% include 'partials/logo-img.njk' %}
        {% include 'partials/hamburger.njk' %}
        {% include 'partials/main-nav.njk' %}
    </div>
</header>