<header class="header">
    <div class="header__content">
        <div class="logo">
            <img src="/images/logo-bezmysi.png" alt="BezMyši - úvod">
        </div>
        <nav class="main-nav">
            <ul class="menu main-menu">
                <li>
                    <a href="/">Úvod</a>
                </li>
                <li>
                    <a href="/pristupnost/">Přístupnost</a>
                </li>
                <li>
                    <a href="/klavesnici/">Klávesnicí</a>
                </li>
                <li>
                    <a href="/poslechem/">Poslechem</a>
                </li>
                <li>
                    <a href="/dotykem/">Dotykem</a>
                </li>
                <li>
                    <a href="/teorie/">Teorie</a>
                </li>
                <li>
                    <a href="/kontakt/">Kontakt</a>
                </li>
            </ul>
        </nav>
    </div>
</header>