<header class="header">
    <div>
        <a class="skip-to-content-link" href="#main">
            Přeskočit na hlavní obsah
        </a>
    </div>
    <div class="header__content">
        {% include 'partials/logo-img.njk' %}
        {% include 'partials/hamburger.njk' %}
        {% include 'partials/main-nav.njk' %}
    </div>
</header>