<div class="hero">
    <div class="hero__content">
        <div class="hero__text">
            <p class="text-bigger">"Máte
                <span class="crossed">sklep</span>
                web?<br>A mohla bych ho vidět?"<br>:)
            </p>
            <p class="text-bigger">Jak vidí web ten, kdo
                <span class="text-bg">
                    nevidí?</span>
            </p>
        </div>
        <div class="hero__img">
            <img src="../images/zoom-web.png" alt="">
        </div>
    </div>
</div>