<div class="hero">
    <div class="hero__content">
        <div class="hero__text">
            <p class="text-bigger">"Máte <span class="crossed">sklep</span> web?<br>A mohla bych ho vidět?"<br>:)<br>A jak ho vidí ten, kdo nevidí?</p>
            <p class="text-big">Mnozí z vás tuší, že existují speciální programy,
                <br>málokdo je však skutečně
                                            potkal. <br>Teorie a obsáhlých návodů najdete spoustu,<br>já
                se pokusím poskytnout vám skutečný "pohled".
            </p>
        </div>
        <div class="hero__img">
            <img src="../images/zoom-web.png" alt="">
        </div>
    </div>
</div>