<div class="article w-80 koder">
    <div class="article-media koder-img">
        <img src="/images/persons/pers-koder.png" alt="Hustý kodér">
    </div>
    <div class="article-text" id='hustykoder'>
        <h2> < "Hustý kodér" > </h2>
        <div>
            <p>Jsem hustý kodér, fušuji i&nbsp;do dizajnu. Vždy, když dělám web, tak si nejdřív uklidím a&nbsp;vše vynuluji. Takový ty hnusný
                rámečky, co mi kazí vzhled, to nemám rád. Naštěstí to jde vypnout, když udělám outline:0.
            </p>
            <p>Umím parádní JavaScript a na mých webech to žije. Jak dnes frčí ty slajdery a&nbsp;paralaxy, no to je peckaaaa. Jo a&nbsp;tlačítka, ty já umím vytvořit z&nbsp;jakéhokoli divu. Mám na YouTubu oblíbený kanál, kde jeden maník dává videa, třeba hustý
                zaškrtávátka a&nbsp;megahustý hamburger menu.</p>
        </div>
    </div>
</div>