<li class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}">
    <a href="/">Úvod</a>
</li>
<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'pristupnost' }}">
    <a href="/pristupnost/">Přístupnost</a>
</li>
<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'klavesnici' }}">
    <a href="/klavesnici/">Klávesnicí</a>
</li>
<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'poslechem' }}">
    <a href="/poslechem/">Poslechem</a>
</li>
<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'dotykem' }}">
    <a href="/dotykem/">Dotykem</a>
</li>
<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'teorie' }}">
    <a href="/teorie/">Teorie</a>
</li>
<li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakt' }}">
    <a href="/kontakt/">Kontakt</a>
</li>