<li class="menu-item">
    <a href="/">Úvod</a>
</li>
<li class="menu-item">
    <a href="/pristupnost/">Přístupnost</a>
</li>
<li class="menu-item">
    <a href="/klavesnici/">Klávesnicí</a>
</li>
<li class="menu-item">
    <a href="/poslechem/">Poslechem</a>
</li>
<li class="menu-item">
    <a href="/dotykem/">Dotykem</a>
</li>
<li class="menu-item">
    <a href="/teorie/">Teorie</a>
</li>
<li class="menu-item">
    <a href="/kontakt/">Kontakt</a>
</li>