@use '../base/variables';
@use '../utility/colors';
@use '../utility/fonts';


.footer{
    background-color: colors.$bg-silver;
    margin-top: 5em;
    
    &__content{
        color: colors.$primary-color;
        max-width: 1400px;
        margin: auto;

        
    }
    &__copy{
        background-color: colors.$primary-color;
        color: colors.$bg-light;
        & p{
            padding: 10px;
            text-align: center;
            font-size: 0.75em;

        }
        
    }
}

