@use '../base/variables';

.header__content {
    
    display: flex;
	justify-content: space-between;
	align-items: flex-end;
    max-width: 1400px;
    min-height: 60px;
    margin: auto;
}

.logo{
    width: 160px;
    height: auto;
        
    & img{
        width: 100%;
    }
}

