@use '../base/variables';
@use '../utility/colors';

.header{
    background-color: colors.$primary-color;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: sticky;
    top: -1px;
    z-index: 3;

// výchozí je hamburger 

    &__content {
       
        display: flex;
        justify-content: space-between;
        align-items: center;
       /* flex-direction: column;*/
        max-width: 1400px;
        min-height: 60px;
        margin: auto;
        padding: 15px;

// jiné uspořádání pro desktop

        @media screen and (min-width: variables.$min-md-media){
            flex-direction: row;
            align-items: flex-end;
        }
    }
}

/* velikost obrázku - loga */
.logo{
    width: 160px;
    height: auto;
        
    & img{
        width: 100%;
    }
}

