@use '../base/variables';

.header__content {
    
    display: flex;
	justify-content: space-between;
	align-items: center;
    max-width: 1400px;
    min-height: 60px;
    margin: auto;
}

.logo{
    width: 120px;
    height: auto;
    margin: variables.$space-s;
    
    & img{
        width: 100%;
    }
}

