@use '../base/variables';
@use '../utility/colors';



.hero{

    padding-top: 30px;
    padding-bottom: 30px;

    &__content{
      
        max-width: 1400px;
        display: flex;
        margin: auto;
        align-items: center;
  
    }

    &__img{
        flex: 1 1 40%;
 

        & img{
            width: 100%;
        }

    }
    &__text{
        flex: 1 1 60%;
        text-align: right;
        padding-right: 5vw;
    }

    & .text-bigger{
        font-size: clamp( 24px, 3vw, 48px);;

    }
    & .text-big{
        font-size: 20px;
 
    }

}
.crossed{
    text-decoration:line-through;
}

.text-bg{
    font-weight: 700;
    display: inline-block;
    background-color: colors.$warning;
}