@use '../base/variables';

.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
    
    @media screen and (min-width: variables.$min-md-media){
        grid-template-columns: repeat(2, 1fr);

    }
    &__header,
    & .full-row{
        grid-column: 1 / -1;
    }

    @media (min-width: 1150px){
        margin-left: -32px;
        margin-right: -32px
    }

}