@use '../base/variables';
@use '../utility/colors';
@use '../utility/fonts';

// postupně rozhodit
//nastavení pro homepage


.section{
    max-width:1000px;
    margin: 3rem auto;
    
    & p{
        padding-top: 10px;
    }
    
    &__item{
        padding: 1rem;
        margin: 3rem auto;
        background-color: colors.$off-white;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

    }
    &__header{
        text-align: center;


    }
    
}



