@use '../base/variables';
@use '../utility/colors';
@use '../utility/fonts';

// postupně rozhodit
//nastavení pro homepage


.section{
    max-width:1000px;
    margin: auto;
    
    & p{
        padding-top: 10px;
    }
    
    &__item{
        padding: 1rem;
        margin: 3rem auto;

    }
    &__header{
        text-align: center;


    }
    
}



