@use '../base/variables';


.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  
  .grid__item {
    padding: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
  
  .flag {
    height: 50px;
    
  }
  
  .full-grid {
    grid-column: 1 / -1;
  }
