@use '../base/variables';
@use '../utility/colors';


.main-nav{
    display: none;
    @media screen and (min-width: variables.$min-md-media){
        display:flex;
    }
  }

  
  
  .menu{
      margin: 0;
      padding: 0;
      display: flex;
      
    }
    
    .main-menu {
        list-style: none;
        margin: 0.75em 0;
        
        & a {
            display: block;
            padding: 5px 10px;
            color: colors.$lightbluegray;
            text-decoration: none;
            font-size: 1.2em;
        border-bottom: 3px solid transparent;
        
    }
    
    & a:hover {
        border-bottom: 3px solid colors.$bg-color;
        color: colors.$bg-color;
        transition: all 0.5s;
    }
}

.secondary-menu {
    padding-left: 40px;
	list-style: disc;
	display: flex;
    flex-direction: column;
    
    & a {
        color: colors.$bg-light;
        text-decoration: none;
    }
    
    & a:hover {
        background-color: white;
        color: #00436f;
    }
}


.hamburger-container{
    @media screen and (min-width: variables.$min-md-media){
        display: none;
    }
}

.hamburger-container {
    width: max-content;
 /*   position: absolute;*/
    top: 10px;
    left: 10px;
    color: rgb(34, 206, 18);
    transition: transform 0.5s ease;
  }
  
  /* We don't need the checkbox to be visible, but we can't set it to display: none because this will break keyboard navigation. Instead set the opacity to 0 and the position to absolute so it doesn't push the rest of the content down */
  .hamburger-container .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  /* Show an outline when the hamburger is selected using the keyboard. Older browsers don't support :focus-visible, so we will just use :focus here. */
  .hamburger-container .checkbox:focus ~ .hamburger {
    /* Not all browsers support outline: auto, so set a sensible fallback outline. */
    outline: 2px solid white;
    outline: auto;
    outline-offset: 4px;
  }
  
  /* For newer browsers that do support :focus-visible, hide the outline when the checkbox isn't selected with the keyboard. */
  @supports selector(:focus-visible) {
    .hamburger-container .checkbox:not(:focus-visible) ~ .hamburger {
      outline: none;
    }
  }
  
  /* Hide any focusable elements in the drawer by default to aid keyboard navigation. We use visibility so it makes the elements unfocusable, but doesn't affect the layout. We can also add a "transition" to visibility, which will make it show instantly when we open the drawer, but take half a second to hide it when we close the drawer. */
  .hamburger-container .drawer a {
    visibility: hidden;
    transition: visibility 0.5s linear;
  }
  
  /* Make the focusable elements in the drawer visible when it is open. */
  .hamburger-container .checkbox:checked ~ .drawer a {
    visibility: visible;
  }
  
  .hamburger-container .checkbox:checked ~ .drawer {
    transform: translateX(0%);
  }
  
  .hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  
  .hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-container .checkbox:checked ~ .hamburger .slice:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  
  .hamburger {
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    transition: transform 0.5s ease;
    z-index: 1;
    cursor: pointer;
    padding-top: 5px;
  }
  
  .hamburger .slice {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(59, 59, 59);
    transition: all 0.5s ease;
  }
  
  .hamburger .slice:not(:first-child) {
    margin-top: 10px;
  }
  
  .drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: max-content;
    max-width: 100%;
    padding: 22px;
    background: rgb(0, 124, 155);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  
  .drawer .nav-list {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .drawer .nav-list .nav-list-item {
    padding-bottom: 10px;
  }

  .drawer {
    width: 100%;

  }