@use '../base/variables';
@use '../utility/colors';


.menu{
    margin: 0;
    padding: 0;
    display: flex;
   
}

.main-menu {
    list-style: none;
    
    & a {
        display: block;
        padding: variables.$space-l;
        color: colors.$primary-color;
        text-decoration: none;
    }
    
    & a:hover {
        background-color: white;
        color: #00436f;
    }
}

.secondary-menu {
    padding-left: 40px;
	list-style: disc;
	display: flex;
    flex-direction: column;
    
    & a {
        color: colors.$bg-light;
        text-decoration: none;
    }
   
    & a:hover {
        background-color: white;
        color: #00436f;
    }
}

