@use '../utility/colors';



a{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
        outline: 3px dotted colors.$warning;
    }
}