@use '../base/variables';
@use '../utility/colors';


.main-nav{
    display: none;

    @media screen and (min-width: variables.$min-md-media){
        display:flex;
        align-self: center;
    }
 
  .menu{
      margin: 0;
      padding: 0;
      display: flex;

      &__item{
          border-bottom: 3px solid transparent;
          display: block;
          padding: 0 10px;
          
          &:hover,
          &--active {
              border-bottom: 3px solid colors.$bg-color;
              color: colors.$bg-color;
              transition: all 0.5s;

          }
          & a {
              color: colors.$off-white;
              text-decoration: none;
              font-size: 1.2em;


              &:focus{
                  transition: all 0.5s;
                  outline-offset: 4px;

              }
      }
      
      &__list {
          list-style: none;
          margin: 0.75em 0;
   
      }
    }

  }

}



.secondary-menu {
    padding-left: 40px;
	list-style: disc;
	display: flex;
    flex-direction: column;
    
    & a {
        color: colors.$bg-light;
        text-decoration: none;
    }
    
    & a:hover {
        background-color: white;
        color: #00436f;
    }
}
