@use '../base/variables';

body{
    margin: 0;
}
.my-template{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    
}

main{
    width: min(90%, 1400px);
    margin-inline: auto;
    
}

.spacer{
    margin: 1.5em;
}


.footer{
    flex: 0 0 60px;
}

