// fonts

$font-family-body:  "Montserrat", "Noto Sans", sans-serif;
$font-family-headings: "Nunito", "Roboto", sans-serif;
$font-weight-headings: 700;
$font-weight-normal: 400;
$font-size-default: 16px;
$line-height-default: calc(1.5em + 0.2vw);

// colors
$primary-color: #0a2391;
$secondary-color: #6eb4e0;
$btn-color: green;
$active-button-color: #b70940;
$bg-color: #f0f0f0;
$bg-dark-color: #303339;
$text-color: #242424;

// media
$max-xs-media: 799px;
$min-md-media: 800px;
$max-md-media: 1099px;
$min-xl-media: 1100px;

// spacers

$space-s: 10px;
$space-m: 15px;
$space-l: 20px;

