// fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap");

$font-family-body: "Noto Sans", sans-serif;
$font-family-headings: "Roboto", sans-serif;
$font-weight-headings: 400;
$font-weight-normal: 400;

// colors
$primary-color: #0a2391;
$secondary-color: #6eb4e0;
$btn-color: green;
$active-button-color: #b70940;
$bg-color: #f0f0f0;
$bg-dark-color: #303339;
$text-color: #242424;

// media
$max-xs-media: 799px;
$min-md-media: 800px;
$max-md-media: 1099px;
$min-xl-media: 1100px;