---
layout: layouts/vychozi_sablona.njk
---

<body>
    <div
        class="my-template">
        <!-- ↓ hlavička ↓ -->
        {% include 'partials/header.njk' %}
        <!-- ↑ hlavička ↑ -->
        <!-- ↓ banner ↓ -->
        {% include 'partials/hero.njk' %}
        <!-- ↑ banner ↑ -->
        <!-- ↓ hlavní oblast ↓ -->
        {{ content | safe }}
        <!-- ↑ hlavní oblast ↑ -->
        <!-- ↓ patička ↓ -->
        {% include 'partials/footer-hmpg.njk' %}
        <!-- ↑ patička ↑ -->
    </div>
</body>