---
layout: layouts/vychozi_sablona.njk
---

<body>
    <div
        class="my-template">
        <!-- ↓ hlavička ↓ -->
        {% include 'partials/header.njk' %}
        <!-- ↑ hlavička ↑ -->
        <!-- ↓ hlavní oblast ↓ -->

            {{ content | safe }}

        <!-- ↑ hlavní oblast ↑ -->
        <!-- ↓ patička ↓ -->
        {% include 'partials/footer-koder.njk' %}
        <!-- ↑ patička ↑ -->
    </div>
</body>